a {
   text-decoration: none;
}

@media (min-width: 767.98px) {
    .border-md-left-none {
      border-left: none !important; }
    .border-md-right-none {
      border-right: none !important; }
    .border-md-top-none {
      border-top: none !important; }
    .border-md-bottom-none {
      border-bottom: none !important; } 

    .border-md {
      border: 1px solid #dee2e6 !important
    }  

  
}