a {
   text-decoration: none;
}

@media (min-width: 767.98px) {

    .border-sm-bottom-none {
      border-bottom: none !important; } }

@media (max-width: 767.98px) {
.border-sm-left-none {
    border-left: none !important; }
.border-sm-right-none {
    border-right: none !important; }

.border-sm-bottom-none {
    border-bottom: none !important; } 
.border-sm-none {
    border: none !important; }
.border-sm-to-xs-top-none {
    border-top: none !important; }
}

@media (min-width: 767.98px) {
    .border-md-left-none {
      border-left: none !important; }
    .border-md-right-none {
      border-right: none !important; }
    .border-md-top-none {
      border-top: none !important; }
    .border-md-bottom-none {
      border-bottom: none !important; } 

}