<div class="d-flex flex-column vh-100 p-3" *ngIf="user$ | async as user">
    
    <div class="container">
        <div class="row">
            <div class="col pt-2">
                <div class="fs-4 fw-bold">
                    <a class="text-info" [routerLink]="['/users']"> Users </a> > {{user.name}}
                </div>
            </div>
        </div> 
    </div>    
    
    <div class="container mb-2">
        <div class="row row-cols-1 row-cols-md-3 g-md-2">
            
            <div class="col mt-3">
                <div class="border-md p-md-3 h-100">
                    <div class="fw-bold mb-2">Contact Info</div>
                    <div>Username : {{user.username}}</div>
                    <div>Email: <a class="text-info" href="mailTo:{{user.email}}">{{user.email}}</a></div>
                    <div>Phone: <a class="text-info" href="tel:{{user.phone}}">{{user.phone}}</a></div>
                    <div>Website: <a class="text-info" href="http://{{user.website}}" target="_blank">{{user.website}}</a> </div>
                </div>
                
            </div>
            <div class="col mt-3">
                <div class="border-md p-md-3 h-100">
                    <div class="fw-bold mb-2">Address</div>
                    <div>{{user.address.suite}} {{user.address.street}}, {{user.address.city}} {{user.address.zipcode}}</div>
                </div>
                
            </div>
            <div class="col mt-3">
                <div class="border-md p-md-3 h-100">
                    <div class="fw-bold mb-2">Company</div>
                    <div>{{user.company.name}}</div>
                    <div>{{user.company.bs}}</div>
                    <div><i>{{user.company.catchPhrase}}</i></div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container border-md-top-none border-top mb-2">
        <div class="row">
            <div class="col pt-2">
                <div class="fs-4 fw-bold">
                    Posts by {{user.name}}
                </div>
            </div>
        </div> 
    </div>    

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-md-2">
            <div class="col" *ngFor="let post of posts$ | async">
                <div class="border-bottom border-md p-md-3 h-100">
                    <div class="fw-bold mb-1 mt-1 p-2">{{post.title}}</div>
                    <div class="mb-3 p-2">{{post.body}}</div>                  
                </div>
            </div>
        </div>
    </div>
    
</div>



<!-- <ng-container *ngIf="user$ | async as user">
    <a [routerLink]="['/users']"> Users </a> > {{user.name}}


    <div>
        <div><b>Contact Info</b></div>
        <div>Username : {{user.username}}</div>
        <div>Email: <a href="mailTo:{{user.email}}">{{user.email}}</a></div>
        <div>Phone: <a href="tel:{{user.phone}}">{{user.phone}}</a></div>
        <div>website: <a href="http://{{user.website}}" target="_blank">{{user.website}}</a> </div>
    </div>
    

    <div>
        <div><b>Address</b></div>
        <div>{{user.address.suite}}{{user.address.street}}, {{user.address.city}} {{user.address.zipcode}}</div>
    </div>

   
    <div>
        <div><b>Company</b></div>
        <div>{{user.company.name}}</div>
        <div>{{user.company.bs}}</div>
        <div><i>{{user.company.catchPhrase}}</i></div>
    </div>

    <hr>
    <div> Posts by {{user.name}} </div>

    <ng-container *ngFor="let post of posts$ | async">
        
        <div>{{post.title}}</div>
        <div>{{post.body}}</div>
        <hr>
    </ng-container>
</ng-container>


 -->
