<div class="d-flex flex-column vh-100">
    <!--Form Div-->
    <div class="p-3">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 align-items-center">
                <div class="col me-auto fw-bold fs-2">Users</div>

                <!--Search input-->
                <div class="col mt-2 mb-2"> 
                    <label for="inputSearch" class="form-label">Search</label>
                    <input type="text" id="inputSearch" class="form-control" [formControl]="searchInput">   
                </div>

                <!--Sort Input-->
                <div class="col mt-2 mb-2"> 
                    <label for="selectSortBy" class="form-label">Sort by</label>
                    <select id="selectSortBy" class="form-control" [formControl]="sortBy">
                        <option selected value="name">Name</option>
                        <option value="username">User name</option>
                        <option value="email">Email</option> 
                    </select>
                </div>
            </div>
            
        </div>
    </div>

    <!--User List-->
    <div class="flex-grow-1 ps-md-3 pe-md-3 pb-3">
        <div class="container list">
            <div class="row border-top border-sm-left-none border-sm-right-none border-start border-end align-items-center pt-2 pb-2 ps-2"
                 *ngFor="let user of finalUserList$ | async"
                 [routerLink] ="['/user', user.id]"
            >
                <div class="rounded-circle col-3 pt-2 pb-2 me-2"></div>
                <div class="col">
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col col-md-7">{{user.name}}</div>
                        <div class="col order-md-last">{{user.username}}</div>
                        <div class="col col-md-5 align-self-end text-md-end"><a class="text-info" href="mailto:{{user.email}}" (click)="$event.stopPropagation();">{{user.email}}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
